<!DOCTYPE html>
<html lang="en-us" ng-app="myApp">
    <head>
        <title>Convert Units Quickly</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="css/index.css"/>
    </head>
    <body>
    	<header class="container text-center">
    		<h1>Quick Converter</h1>
            <p>------------------------------</p>
    		<p>A quick reference tool to convert commonly used units of measurement</p>
    	</header>
    	
    	<div class="container temperature">
            <div class="temp-header">
                <h3>Temperature</h3>
                <h5>--</h5>
                <h5><em>quickly convert between Celsius and Farenheit</em></h5>
            </div>
            
            <div class="temp-conversion-box row">
                <p class="col-md-2 col-md-offset-1">Celsius to Farenheit</p>
                <div id="temp-box" class="col-md-3">
                    <input type="text" placeholder="Enter Temperature in C" name="temperature" id="celsius"/>
                    <input type="button" id="convert-f" value="Convert"/>
                </div>
                <div id="farenheit-conversion" class="col-md-2"></div>
                
            </div>
            
            <div class="temp-conversion-box row">
                <p class="col-md-2 col-md-offset-1">Farenheit to Celsius</p>
                <div id="temp-box2" class="col-md-3">
                    <input type="text" placeholder="Enter Temperature in F" name="temperature" id="farenheit"/>
                    <input type="button" id="convert-c" value="Convert"/>
                </div>
                <div id="celsius-conversion" class="col-md-2"></div>
            </div>
        </div>
        
        <div class="test" ng-controller="mainController">
            <h5>To Visit Next</h5>
            <ul>
                <li ng-repeat="country in willvisit">{{country.country}}</li>
            </ul>
        </div>
        
        <div class="test" ng-controller="mainController">
            <h5>Recently visited</h5>
            <ul>
                <li ng-repeat="country in visited">{{country.country}}</li>
            </ul>
            
        </div>
		
		<div class="container distance">
            <div class="dist-header">
                <h3>Distance</h3>
                <h5>--</h5>
                <h5><em>quickly convert between Metric and Imperial</em></h5>
            </div>

			<div class="dist-conversion-box row">
				<p class="col-md-2 col-md-offset-1">Meters to Feet</p>
				<div id="dist-box" class="col-md-3">
					<input type="text" placeholder="Enter Distance in Meters" name="distance" id="meters"/>
					<input type="button" id="convert-ft" value="Convert"/>
				</div>
				<div id="feet-conversion" class="col-md-2"></div>
			</div>
            
			<div class="dist-conversion-box row">
				<p class="col-md-2 col-md-offset-1">Feet to Meters</p>
				<div id="dist-box2" class="col-md-3">
					<input type="text" placeholder="Enter Distance in Feet" name="distance" id="feet"/>
					<input type="button" id="convert-m" value="Convert"/>
				</div>
				<div id="meters-conversion" class="col-md-2"></div>
			</div>
			
			<div class="dist-conversion-box row">
				<p class="col-md-2 col-md-offset-1">Km to Miles</p>
				<div id="dist-box3" class="col-md-3">
					<input type="text" placeholder="Enter Distance in Km" name="distance" id="km"/>
					<input type="button" id="convert-miles" value="Convert"/>
				</div>
				<div id="miles-conversion" class="col-md-2"></div>
			</div>
            
			<div class="dist-conversion-box row">
				<p class="col-md-2 col-md-offset-1">Miles to Km</p>
				<div id="dist-box4" class="col-md-3">
					<input type="text" placeholder="Enter Distance in Miles" name="distance" id="miles"/>
					<input type="button" id="convert-km" value="Convert"/>
				</div>
                <div id="km-conversion" class="col-md-2"></div>
			</div>
			
		</div>
		
		<div class="container currency">
            <div class="temp-header">
                <h3>Currency</h3>
                <h5>--</h5>
                <h5><em>convert between currencies with current exchange rate</em></h5>
            </div>
            <div id="currency1" class="row">
                <div class="col-md-4 col-md-offset-1">
                    <p>Select currency:</p>
                    <div class="currbox">
                        <input type="text" placeholder="Enter amount" name="amount" id="curr1"/>
                        <select>
                            <option value="usd">USD</option>
                            <option value="euro">Euro</option>
                            <option value="gbp">Pound (UK)</option>
                            <option value="rmb">RMB (China)</option>
                        </select>
                    </div>
                </div>
                
                <div class="currbox col-md-4">
                    <p>Convert to:</p>
                    <div class="currbox">
                        <input type="text" placeholder="Enter amount" name="amount" id="curr1"/>
                        <select>
                            <option value="usd">USD</option>
                            <option value="euro">Euro</option>
                            <option value="gbp">Pound (UK)</option>
                            <option value="rmb">RMB (China)</option>
                        </select>
                    </div>
                </div>
               
            </div>
		</div>
     
        <footer class="container text-center">
            <p>Project developed by Kris</p>
        </footer>
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
        <script src="controllers/homecontroller.js"></script>
		<script src="js/index.js"></script>
    </body>
</html>
