body {
	background-color: #D2D1F5;
}

header {
	border-bottom: 2px solid black;
	padding-bottom: 20px;
}

.temp-header h3, .temp-header h5 {
    display: inline-block;
    margin: 20px 3px 50px 10px;
}

.temp-conversion-box {
    margin: 20px 20px 20px 20px;
}

.distance {
    margin-top: 30px;
}

.dist-header h3, .dist-header h5 {
    display: inline-block;
    margin: 20px 3px 50px 10px;
}

.dist-conversion-box {
    margin: 20px 20px 20px 20px;
}

.dist-conversion-box {
    margin: 20px 20px 20px 20px;
}

.test {
    border: 1px solid black;
    float: right;
    margin-right: 50px;
    padding: 10px 10px 10px 10px;
}

footer {
    border-top: 2px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
}

.currency {
    margin-bottom: 50px;
}

.currbox input, .currbox select {
    display: inline-block;
}