.auth-form {
  margin: 2%;

  input {
    margin: 20px auto;
    display: block;
    border: 1px solid black;
    border-radius: 2px;
    padding: 5px;
  }

  input:focus {
    outline: 2px solid black;
  }

  button {
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px 20px;
    background-color: #BFCBD4;
  }

  button:focus {
    outline: none;
  }

  button:active {
    background-color: #A4A4A4;
  }

  button:hover {
    cursor: pointer;
  }
}