.place-list {
  width: 60%;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  border: 1px solid black;
  background-color: #41596D;
  color: #f6b73c;
  font-family: 'Crete Round', serif;
  
  @media only screen and (max-width: 800px) {
    width: 80%;
  }

  ul {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    li {
      list-style-type: none;
      margin: 10px;
      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}
