.profile-form {
  margin: 2%;

  input {
    margin: 20px auto;
    display: block;
    border: 1px solid black;
    border-radius: 2px;
    padding: 5px;
  }

  input:focus {
    outline: 2px solid black;
  }
}